
table{
    margin:70px 50px 50px 50px;
    padding: 10px;
    background-color: rgba(105, 90, 205, 0.747);
    border-radius:10px;
}
input[type=text]{
    padding: 20px;
    border:  solid;
    font-size: medium;
    color: black;
    background-color: rgb(255, 255, 255);
}
input[type=button] {
    margin: 5px;
    padding: 20px;
    background-color:rgba(52, 187, 197, 0.651);
    color: aliceblue;
    font-size:larger;
}